:root {
    --altura-header: 20vh;
    --altura-article: 30vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcdcdc;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: var(--altura-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(90deg, #e9e7d8, #e9e7d8 60%, orange);
}

#logo {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 140px;
    height: auto;
    transition: transform 1s ease;
}

#logo-img:hover {
    transform: rotate(360deg);
}

#logo h1 {
    margin-left: 20px;
    font-size: 65px;
    font-style: italic;
    font-weight: bold;
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: transform 0.5s ease;
}

nav ul li a:hover {
    transform: scale(1.5);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-main {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 40px;
}

#header-main h2 {
    font-size: 75px;
    margin-bottom: 15px;
}

#header-main p {
    color: gray;
    font-style: italic;
    font-size: 22px;
}

#proximos-eventos {
    width: 80%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#proximos-eventos h3 {
    text-align: center;
    color: orange;
    font-size: 65px;
    margin-bottom: 10px;
}

#proximos-eventos > p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
     color: gray;
}

.evento {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid orange;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.evento:hover {
    background-color: #fac387;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


.evento img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.dados-evento {
    margin-left: 20px;
}

.dados-evento h4 {
    font-size: 50px;
    margin-bottom: 10px;
}

.data {
    color: gray;
    margin-bottom: 5px;
    font-size: 20px;
}

.local {
    color: gray;
    margin-bottom: 5px;
    font-size: 15px;
}

main section {
    width: 80%;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main section h2 {
    text-align: center;
    color: orange;
    font-size: 55px;
    margin-bottom: 25px;
}

main section p {
    font-size: 22px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: orange;
    box-shadow: 0 0 5px rgba(255,165,0,0.5);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

button,
input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background-color: #111c24;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background-color: yellowgreen;
    transform: scale(1.01);
}

button[type="reset"]:hover,
input[type="reset"]:hover {
    background-color: orange;
    transform: scale(1.01);
}

footer {
    width: 100%;
    background-color: #111c24;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}